<footer class="text-body-secondary py-5  ">
    <div class="container">
        <div>
            <p class="float-end mb-1">
                <a class="top" href="#">Back to top</a>
            </p>
            <p class="mb-1 "> Bhimitech &copy; {{todayNumber | date:'yyyy' }} </p>
        </div>
        <div class="skills-strip">
            <span class="skills-strip-items"><a href="#"> htm Training Institute in Hyderabadl</a></span>
            <span class="skills-strip-items"><a href="#"> css Training Institute in Hyderabad</a> </span>
            <span class="skills-strip-items"><a href="#"> javascript Training Institute in Hyderabad</a></span>
            <span class="skills-strip-items"><a href="#"> angular Training Institute in Hyderabad</a></span>
            <span class="skills-strip-items"><a href="#"> github Training Institute in Hyderabad</a></span>
            <span class="skills-strip-items"><a href="#"> responsive web design Training Institute in
                    Hyderabad</a></span>
        </div>

    </div>
</footer>