<footer class="text-body-secondary py-5  ">
    <div class="container">
        <div>
            <p class="float-end mb-1">
                <a class="top" href="#">Back to top</a>
            </p>
            <p class="mb-1 "> Bhimitech &copy; {{todayNumber | date:'yyyy' }} </p>
        </div>
        <div class="skills-strip">
            <span class="skills-strip-items"><a href="#">learn html</a></span>
            <span class="skills-strip-items"><a href="#">learn css</a> </span>
            <span class="skills-strip-items"><a href="#">learn javascript</a></span>
            <span class="skills-strip-items"><a href="#">learn angular</a></span>
            <span class="skills-strip-items"><a href="#">learn github</a></span>
            <span class="skills-strip-items"><a href="#">learn responsive web design</a></span>
        </div>
      
    </div>
</footer>