
<header data-bs-theme="dark">
 
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center logo">
        <strong>Bhimitech</strong>
        <!-- <img src="assets/logo.png" alt="logo" srcset=""> -->
      </a>
    </div>
  </div>
</header>
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-8 col-md-8 mx-auto">
        <h1 class="fw-light">Learn HTMl,CSS,JAVASCRIPT with Low price</h1>
        <p class="lead text-body-secondary">Learn the fundamentals of web development with low cost, HTML, CSS, and
          JavaScript. Understand front-end programming. What is Web Development? What Tools do we need to Build a Web
          Pag ? </p>
        <h1 class="fw-light">Call: 7207895836</h1>
      </div>
    </div>
  </section>
  <div class="album py-5 ">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
              role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#415a77" /><text x="50%" y="50%" fill="#eceeef"
                dy=".3em">HTML</text>
            </svg>
            <div class="card-body">
              <p class="card-text">Introduction to HTML</p>
              <p class="card-text">Multimedia and embedding</p>
              <p class="card-text">Tables</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
              role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#415a77" /><text x="50%" y="50%" fill="#eceeef"
                dy=".3em">CSS</text>
            </svg>
            <div class="card-body">
              <p class="card-text">Introduction to CSS </p>
              <p class="card-text">Building blocks, Styling content</p>
              <p class="card-text">layout</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
              role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#415a77" /><text x="50%" y="50%" fill="#eceeef"
                dy=".3em">JAVASCRIPT</text>
            </svg>
            <div class="card-body">
              <p class="card-text">Introduction to JavaScript </p>
              <p class="card-text">Building blocks</p>
              <p class="card-text">objects</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="text-body-secondary py-5  ">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1 "> bhimitech &copy; 2023 </p>

  </div>
</footer>
